@model IEnumerable<CommentViewModel>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            Notifications
            <span class="badge">@Model.Count()</span>
        </h3>
    </div>
    @foreach (var alert in Model)
    {
        <div class="panel-body">
            <span class="label label-warning pull-right">unread</span>
            <a href="@Url.Action("PreviewNotification", "Users", new { id = alert.Id })">@alert.AdTitle</a>
            <p>
                Send by
                @Html.ActionLink(@alert.Author.UserName, @alert.Author.UserName, "Users", new {Area = string.Empty}, null)
                at @alert.CommentedAt.ToString("dd/mm/yyyy hh:mm:ss")
            </p>
        </div>
    }
</div>