@model IEnumerable<CommentViewModel>

<div class="bs-component">
    @foreach (var alert in Model)
    {
        var notificationContainerId = "notiContainer" + alert.Id;
        <div class="panel panel-info" id="@notificationContainerId">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @using (Ajax.BeginForm("ReadComment", "Comments", new { alert.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = notificationContainerId,
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "ajaxHelper.hideNotification(" + notificationContainerId + ")"
                        }, new { @class = "pull-right" }))
                    {
                        <input type="submit" value="Read" class="btn btn-success"/>
                    }
                    <div class="clearfix"></div>
                    @Html.Encode(@alert.AdTitle)
                </h3>
            </div>
            <div class="panel-body">
                <p><span class="badge">Comment: </span> @Html.Encode(@alert.Content)</p>
            </div>
            <div class="panel panel-footer">
                <strong><span class="label label-primary">Sender:</span> @Html.Encode(@alert.Author.UserName)</strong>
                <p><span class="label label-primary">Recieved at: </span> @alert.CommentedAt.ToShortDateString()</p>
            </div>
            <div>
                @using (Ajax.BeginForm("Reply", "Comments", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ajaxHelper.showReplySuccess", OnFailure = "ajaxHelper.showReplyFailed" }, new { id = "replyForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("AdId", alert.AdId)
                    @Html.Hidden("RecipientId", alert.Author.Id)
                    @Html.Label("Reply to " + alert.Author.UserName)
                    @Html.TextArea("Content", "", new { @class = "form-control", id = "replyTextBox", placeholder = "Reply ..." })

                    <input type="submit" value="Reply" class="btn btn-success btn-sm"/>
                }
            </div>
        </div>
    }
</div>
