@model AdViewModel
<div class="panel panel-primary ad-container1">
    <div class="panel-heading">
        <h3 class="panel-title">
            @if (Model.CreatedOn >= DateTime.Now.AddDays(-3))
            {
                <span class="label label-success">new</span>
            }
           @Html.Encode(@Model.Title)
            <span class="badge pull-right">$ @Html.Encode(Model.Price)</span>
        </h3>
    </div>
    <div class="panel-body">
        @if (Model.Pictures.Any())
        {
            if (Model.Pictures.First().Url == null)
            {
                var url = Convert.ToBase64String(Model.Pictures.First().Content);
                <img src="data:image/png;base64,@url" alt="image" class="img-thumbnail ad-image"/>
            }
            else
            {
                <img src="@Html.Encode(@Model.Pictures.First().Url)" alt="image" class="img-thumbnail ad-image" />
            }
        }
        else
        {
            <img src="~/Content/Images/default.png" alt="no-image" class="img-thumbnail ad-image" />
        }
    </div>
</div>
