@using Microsoft.AspNet.Identity
@model AdViewModel
@{
    ViewBag.Title = "PreviewAdById";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @if (Model.Owner.Id == User.Identity.GetUserId())
            {
                <div class="pull-right">
                    @Html.ActionLink("Edit", "Edit", "Ads", new { id = Model.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", "Ads", new { id = Model.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this Ad?');" })
                </div>
                <div class="clearfix"></div>
                <hr />
            }
            @Html.Partial("_AdPartial", @Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-dismissible alert-warning">
                <span class="pull-left">
                    <strong>Added by </strong><span class="badge">@Model.Owner.UserName</span>
                </span>
                <span class="pull-right">
                    <strong>Added at </strong><span class="badge">@Model.CreatedOn</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">Ad's description</h2>
            <div class="alert alert-dismissible alert-success">
                @Model.Content
            </div>
        </div>
    </div>
    @Ajax.ActionLink("View all pictures", "AdPictures", "Ads", new { id = @Model.Id },
        new AjaxOptions
        {
            UpdateTargetId = "adPicturesContainer",
            LoadingElementId = "loadingGif",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnBegin = "ShowLoadingPopup()",
            OnComplete = "HideLoadingPopup()",
            OnFailure = "HideLoadingPopup()"
        }, new { @class = "btn btn-primary" })

    <div id="adPicturesContainer"></div>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                @using (Ajax.BeginForm("SendComment", "Comments", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "ShowSuccessMsg",
                    OnFailure = "ShowErrorMsg"
                }, null))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("AdId", Model.Id)
                    @Html.Hidden("RecipientId", Model.Owner.Id)
                    @Html.TextArea("Content", "", new { @class = "form-control" })
                    <input type="submit" value="Send" class="btn btn-primary" />
                }
            </div>
        </div>
    }
</div>
